.PersonCardRow{
    background-color: darkgrey;
    text-align: center;
}


.PersonCard{
    margin: 25px;
    display: inline-block;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.title {
    color: grey;
    font-size: 18px;
}

.contactLink{
    margin: 24px 0;
}

.personImg{
    width: 100%;
}

.linkTag {
    text-decoration: none;
    font-size: 22px;
    color: black;
    margin-right: 35px;
}

.linkTag:hover {
    opacity: 0.7;
}