.parallax{
    background-color: azure;
      /* Set a specific height */
    height: 50vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.parallaxContent{
    /* text-align: center; */
    /* vertical-align: middle; */
    display: inline-block;
    align-items: center;
    color: black;
    margin:0 auto;
    margin-top: 15vh;
}
.newsTitle{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #0e1d41;
    -webkit-transition: color 200ms ease;
    -moz-transition: color 200ms ease;
    -ms-transition: color 200ms ease;
    -o-transition: color 200ms ease;
    transition: color 200ms ease;
}
.newMeta{
    display: flex;
    margin: 18px 0 18px 0;
    justify-content: center;
    align-items: baseline;
}
.newMeta div{
    margin-right: 12px;
}
.newsTitle{
    margin-top: 25px;
    font-size: 30px;
    font-weight: 600;
    color: #0e1d41;
    -webkit-transition: color 200ms ease;
    -moz-transition: color 200ms ease;
    -ms-transition: color 200ms ease;
    -o-transition: color 200ms ease;
    transition: color 200ms ease;
}
.author_icon img{
    margin-right: 8px;
    width: 18px;
    height: 18px;
}
.category_icon img{
    margin-right: 8px;
    width: 18px;
    height: 18px;
}
.postDate img{
    margin-right: 8px;
    width: 18px;
    height: 18px;
}

.contentDesc{
    margin: 150px;
}
.contentDesc p{
    font-size: 14px;
    line-height: 2;
    font-weight: 400;
    color: #838383;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}


@media only screen and (max-width: 1600px)
{	
    .contentDesc{
        margin: 60px;
    }
    .contentDesc p{
        font-size: 16px;
        line-height: 1.75;
        font-weight: 500;
    }
}