.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 75%;
    margin: 15vh 0 2vh 12vw;
}

.card .cardImage {
    float: left;
    width: 50%;
    margin-right: 7vw;
}

.card .cardImage img{
    width:100%;
    border-radius: 5px 5px 0 0;
    height: 50vh;
    background-size: contain;
}

.card .container{
    height: 50vh;
}

.card .container h3{
    margin-top: 24px;
}
.card .container h3 b{
    font-size: 22px;
    font-weight: 600;
    color: #0e1d41;
}

.card .container p{
    font-size: 14px;
    font-weight: 400;
    color: #838383;
    margin-top: 14px;
}

.card:hover {
    box-shadow: 0px 40px 40px rgba(0,0,0,0.55);
    z-index: 500;
}

.container {
    padding: 2px 16px;
    
}


/******************************

[Table of Contents]

8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/

/************
1. 1600px
************/

@media only screen and (max-width: 767px)
{
	.card .cardImage img{
        height: 60vh;
    }

    .card .container{
        height: 60vh;
    }
}


/************
560px
************/

@media only screen and (max-width: 560px)
{
    .card .cardImage img{
        height: 30vh;
    }

    .card .container{
        height: 30vh;
    }
}